---
BasedOnStyle: LLVM
IndentWidth: 4
CommentPragmas: '^ NOLINT'

AccessModifierOffset: -4
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
Cpp11BracedListStyle: false
IndentAccessModifiers: false
IndentRequiresClause: true
PackConstructorInitializers: Never
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope

# AllowShortNamespacesOnASingleLine: false # Available in clang-format 20.
# BreakBinaryOperationsStyle: OnePerLine # Available in clang-format 20.

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: 'impl\/'
    Priority: 3
    SortPriority: 2
    CaseSensitive: false
  - Regex: '\.hpp>$'
    Priority: 2
    SortPriority: 1
    CaseSensitive: false
  - Regex: '.*'
    Priority: 1
    SortPriority: 3
    CaseSensitive: false
IncludeIsMainRegex: '(Test)?$'
IncludeIsMainSourceRegex: ''
MainIncludeChar: AngleBracket

Standard: c++20
